<h2>Meter Demand Analysis</h2>

<div class="section" *ngIf="tData">
  <agm-map [latitude]="((tData | type)[0].value.meter_latitude)*1" [longitude]="((tData | type)[0].value.meter_longitude)*1" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
    <agm-marker *ngFor="let data of tData | type" [latitude]="(data.value.meter_latitude)*1" [longitude]="(data.value.meter_longitude)*1" (markerClick)="clickedMarker(data.key, data.value.threshold, data.value.demand_ts); closeWindow(infoWindow)">
      <agm-info-window #infoWindow>
        <strong>{{ "meter #" + data.key }}</strong>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>

<div class="section" *ngIf="options">
  <chart class="diagram" [options]="options"></chart>
</div>



